extends ../layout

block head
  // CSS file for the lab
  link(rel="stylesheet" href="/css/lab-styles.min.css?v=1")

block scripts
  script
    | window.onload = function(){window.scrollTo(0,0);};
    | setTimeout(function(){document.getElementById("welcome-overlay").classList.add("hide");document.body.style.overflow="auto";}, 1000);

append content
  noscript
    style
      | #welcome-overlay {display: none;} .fadeInDelayed {animation-duration: 0.5s;} body {overflow: auto;}
  -
    let experimentsList = {
      exp0: {
        "url": "/lab/personal-site",
        "title": "khanabdullah.com",
        "preview": "The inner workings of this website, from the server to client side",
        "tech": ["Node", "Express", "Postfix", "Nginx", "Pug", "SASS"],
        "language": "JavaScript",
        "image": "../../img/favicon.png"
      },
      exp1: {
        "url": "/lab/face-recognition",
        "title": "Face Recognition",
        "preview": "Python script to train a model on your face and then using it to recognize you",
        "tech": ["Python3", "OpenCV"],
        "language": "Python",
      },
      exp2: {
        "url": "/lab/firestore-ios",
        "title": "Firestore iOS",
        "preview": "Simple iOS app with Firebase authentication and Cloud Firestore storage",
        "tech": ["Swift", "Firebase", "Cloud Firestore"],
        "language": "Swift",
        "image": "../../img/lab/firestore-ios.png"
      },
      exp3: {
        "url": "/lab/socket-chat",
        "title": "socketChat",
        "preview": "A real-time messaging application built using Socket.IO and Express",
        "tech": ["Node", "Express", "Socket.io", "Pug", "SASS"],
        "language": "JavaScript",
        "image": "../../img/lab/socketChat.png"
      },
      exp4: {
        "url": "/lab/tangency",
        "title": "Tangency",
        "preview": "Visualize the tangent line on any continuous function based on your mouse position",
        "tech": ["p5.js", "Pug", "SASS"],
        "language": "JavaScript",
      },
    }
  #welcome-overlay.fadeOut
    h1 Welcome
  .fadeInDelayed
    ul#cards
      - for(let i = 0; i < Object.keys(experimentsList).length; i++)
        - let experiment = experimentsList[[`exp${i}`]]
        li.card(class=`${experiment.language.toLowerCase()}`)
          a(href=experiment.url).card-link
            h4.card-language.size-limit-preview=experiment.language
            h2.card-heading.size-limit-title=experiment.title
            p.card-info.size-limit-preview=experiment.preview
            p.card-tech.size-limit-preview=experiment.tech.join(", ")
          - if(experiment.image)
            a(href=experiment.url).img-link
              img.card-img(src=experiment.image alt=`${experiment.title} icon`)
