html
  head
    title= title
    link(rel="icon" href="/img/favicon.png?v=2")
    style
      | body,html{width:100vw;height:100vh;overflow:hidden;}body{font-family:sans-serif;background:#1d1d1d;padding:0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}a{color:gainsboro;margin-top:20px}#canvas{border-radius:35px;-webkit-box-shadow:-2px 2px 30px 5px #0f0f0f;box-shadow:-2px 2px 30px 5px #0f0f0f}#footer-logo{width:85px;transition:0.3s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;opacity:0.8}@media (max-width: 420px){#footer-logo{width:65px}}@media (max-width: 300px){#footer-logo{width:45px}}#footer-logo:hover{-webkit-transform:scale(1.1);transform:scale(1.1);opacity:1}
  body
    a(href="https://codepen.io/abdullah-k/pen/vdvxJY?editors=0010") source code
    #content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js")
    script
      | // for readable code, visit: https://github.com/abdullah-K/experiments/tree/master/tangency
      | function func(a){return .05*-Math.pow(.7*a+2,3)*Math.pow(.7*a-2,2)}let scale=5,zoom=1,minZoom=1,maxZoom=25,zoomSensativity=.02;function grid(){let a=Math.round(scale);stroke(80),strokeWeight(2),line(width/2,0,width/2,height),line(0,height/2,width,height/2),fill(220),text(a,width-20,height/2+20),text(-a,10,height/2+20),text(a,width/2+10,20),text(-a,width/2+10,height-10),fill(180),noStroke(),text("move cursor horizontally",20,height-20)}let canvasSize=500>window.innerWidth?450:600>window.innerWidth?500:550;function setup(){let a=createCanvas(canvasSize,canvasSize,P2D);a.parent("content"),a.id("canvas"),cursor(CROSS)}function windowResized(){canvasSize=500>window.innerWidth?300:600>window.innerWidth?500:550,resizeCanvas(canvasSize,canvasSize),xCoords.length=0,graph.plot(a=>func(a))}let xCoords=[],slope=(a,b,c)=>(a(b+c)-a(b))/c,linear=(a,c,d)=>a*c+d,graph={plot:a=>{translate(width/2,0),beginShape();let b=width/(2*scale),c=height/(2*scale);for(let d=-(width/2);d<width/2;d++){let e=d/b,f=height-(a(e)+scale)*c;xCoords.push(d),noFill(),stroke(54,136,249),strokeWeight(3),vertex(d,f)}endShape()},trace:()=>{noStroke(),fill(54,136,249);let a=map(mouseX,0,width,xCoords[0],xCoords[xCoords.length-1]);ellipse(a,(-func(a/(width/(2*scale)))+scale)*(height/(2*scale)),10,10)},tangent:()=>{let a=map(mouseX,0,width,xCoords[0],xCoords[xCoords.length-1]),c=height-(func(a/(width/(2*scale)))+scale)*(height/(2*scale)),d=a/(width/(2*scale)),e=slope(func,d,1e-9),f=-(e*a+c),b=width,g=linear(e,a-b,f),h=linear(e,a+b,f);strokeWeight(2),stroke(249,136,54),line(a-b,-g,a+b,-h),stroke(80),strokeWeight(2),fill(220),text(`x = ${d.toFixed(2)}`,-(width/2)+25,35),text(`d/dx = ${isNaN(parseFloat(e))?`∅`:e.toFixed(3)}`,-(width/2)+25,55)}};function draw(){background(51),grid(),graph.plot(a=>func(a)),graph.tangent(),graph.trace()}function mouseWheel(a){zoom,scale+=zoomSensativity*a.delta,zoom=constrain(zoom,minZoom,maxZoom),scale=constrain(scale,2,maxZoom),xCoords.length=0}
  footer#footer(style="position: absolute; bottom: 2%; right: 2%;")
    a#footer-link(href='../lab')
      #footer-content
        img#footer-logo(src='/img/logo.png', alt='Abdullah\'s logo')
