extends ../layout

block head
  // CSS file for the blog
  link(rel="stylesheet" href="/css/blog-styles.min.css?v=1")
  
block content
  #posts-container
    -
       let posts = {
         post0: {
           "link": "introduction",
           "title": "An Introduction",
           "date": "January 4, 2018",
           "preview": "this is the post preview, which will be no longer than one sentence."
         }
       }

    ul#posts-list
      - for(let n = 0; n < numberOfPosts; n++)
        - let postLink = posts[`post${n}`].link
        - let postTitle = posts[`post${n}`].title
        - let postDate = posts[`post${n}`].date
        - let postPreview = posts[`post${n}`].preview
        li.post
          a(href=postLink target="_blank").post-link
            h4.post-date=postDate
            h2.post-heading.size-limit-title=postTitle
            p.post-preview.size-limit-preview=postPreview