extends _layouts/home

block landing
  .upper
    .logo
      img(alt="Abdullah's logo" src="./assets/img/logo.png" height="96" width="96")
    .languages.blur
      a(href="/").no-cursor
        include _layouts/icons/canada
      a(href="/index-fr.html").no-cursor
        include _layouts/icons/france
      if(englishSelected)
        .language-selector.blur.english
      else
        .language-selector.blur.french

  .lower
    .about
      h1.translucent= greeting
      h1= introduction
      p !{about}
      p !{job}
      p= contact
    .links
      .link.blur
        include _layouts/icons/resume
        a(href="/resume.pdf").no-cursor= resumeText
      .link.blur
        include _layouts/icons/github
        a(target="_blank" href="https://github.com/abdullah-K" rel="noopener").no-cursor GitHub
      .link.blur
        include _layouts/icons/email
        a(href="mailto:contact@khanabdullah.com").no-cursor contact@khanabdullah.com

block second
  .upper.secondary
    .logo
      img(alt="Abdullah's logo" src="./assets/img/logo.png" height="96" width="96")
    h1 !{projectsHeading}
